.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

.main-color {
  background-color: #E3FDFD;
}

.btn-default {
  width: 150px;
}

img {
  object-fit: contain;
}

.photo-grid {
  position: relative;
  margin-bottom: 10px;
}

.delete-button {
  margin-top: 5px;
  position: relative;
  left: 10px;
}

.users {
  width: 200px;
  height: auto;
}
